{% extends 'pojisteni/base.html' %}

{% block title %}Odstraň pojištění{% endblock %}

{% block content %}
    {% if perms.pojisteni.delete_insurancemodel %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12  ">
                    <div class="card bg-dark text-white " style="border-radius: 1rem;">
                        <div class="card-body text-center w-100">
                            <div class="mb-md-4 mt-md-4 pb-5">
                                <form method="post" action="" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <h2 class="fw-bold mb-2 text-uppercase">Pojištěnec r.č. {{ obj.policyholder }}</h2>
                                    <p class="text-warning mb-5">smazat pojištění</p>

                                    <p>Opravdu chceš smazat pojištění č."{{ obj.id }}"?</p>
                                    <button class="btn btn-danger btn-outline-light btn-lg px-5 mt-3" type="submit">Smazat</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {% else %}
        <h5>Nemáš oprávnění........!!!!</h5>
    {% endif %}
{% endblock %}