{% extends 'pojisteni/base.html' %}

{% block title %}Události{% endblock %}

{% block content %}
    <div class="container">
        <p><h3>Informace o události č. {{ obj.id }}</h3></p>
        <form>
            <div class="form-group row" >
                <label for="birth_id_input" class="col-form-label-lg col-12 col-sm-6 col-md-4">Rodné číslo pojištěnce: </label>
                <div class="col 12 col-sm-4 col-lg-2">
                    <input type="text" readonly class="form-control" id="birth_id_input" value="{{ obj.policyholder }}" />
                </div>
            </div>

            <div class="form-group row">
                <label for="title_input" class="col-form-label-lg col-12 col-sm-6 col-md-4">Název pojistné události: </label>
                <div class="col 12 col-sm-4 col-lg-2">
                    <input type="text" readonly class="form-control" id="title_input" value="{{ obj.title }}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="contract_no_input"  class="col-form-label-lg col-12 col-sm-6 col-md-4">Číslo pojistné smlouvy: </label>
                <div class="col 12 col-sm-4 col-lg-2">
                    <input type="text" readonly class="form-control" id="contract_no_input" value="{{ obj.contract_no }}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="event_date_input" class="col-form-label-lg col-12 col-sm-6 col-md-4">Datum vzniku pojistné události: </label>
                <div class="col 12 col-sm-4 col-lg-2">
                    <input type="text" readonly class="form-control" id="event_date_input" value="{{ obj.event_date }}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="desc_input" class="col-form-label-lg col-12 col-sm-6 col-md-4">Popis pojistné události: </label>
                <div class="col 12 col-sm-4 col-lg-4">
                    <textarea readonly class="form-control" id="desc_input" rows="8" cols="50"> {{ obj.desc }} </textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="attach1_input" class="col-form-label-lg col-12 col-sm-6 col-md-4">Příloha č.1:</label>
                <div class="col 12 col-sm-4 col-lg-2">
                    {% if name1 %}
                        <a href="{{ obj.attach1.url }}" target="_blank">{{ name1 }}</a>
                    {% else %}
                        <p>Příloha č.1 nepřipojena</p>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="attach2_input" class="col-form-label-lg col-12 col-sm-6 col-md-4">Příloha č.2:</label>
                <div class="col 12 col-sm-4 col-lg-2">
                    {% if name2 %}
                        <a href="{{ obj.attach2.url }}" target="_blank">{{ name2 }}</a>
                    {% else %}
                        <p>Příloha č.2 nepřipojena</p>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="created_input" class="col-form-label-lg col-12 col-sm-6 col-md-4">Datum vložení události do systému:</label>
                <div class="col 12 col-sm-4 col-lg-2">
                    <input type="text" readonly class="form-control" id="created_input" value="{{ obj.created }}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="updated_input" class="col-form-label-lg col-12 col-sm-6 col-md-4">Datum poslední úpravy:</label>
                <div class="col 12 col-sm-4 col-lg-2">
                    <input type="text" readonly class="form-control" id="updated_input" value="{{ obj.updated }}" />
                </div>
            </div>
        </form>

        <div class="row justify-content-start">
            <div class="col-sm-auto g-3">

                {% if perms.pojisteni.change_eventmodel %}
                    <a class="btn btn-warning text-white" href="{% url 'update_event' obj.id %}"> Editovat událost </a>
                {% endif %}

                {% if perms.pojisteni.delete_eventmodel %}
                    <a class="btn btn-danger" href="{% url 'delete_event' obj.id %}"> Odstranit událost </a>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}