{% extends "pojisteni/base.html" %}



{% block title %} User form {% endblock %}

{% block content %}
{% if page == 'login' %}

    <div class="col-md-4">

    </div>

    <div class="col-md-12">
        <section class="vh-100">
            <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">

                        <form method="post" action="">
                            {% csrf_token %}

                            <h2 class="fw-bold mb-2 text-uppercase">Přihlášení</h2>
                            <p class="mb-5 text-warning">Prosím zadejte uživatelské jméno a heslo!</p>

                            <div class="form-outline form-white mb-4">
                                <input type="text" id="username" name="username" class="form-control form-control-lg" />
                                <label class="form-label" for="username">Uživatelské jméno</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="password" name="password" class="form-control form-control-lg" />
                                <label class="form-label" for="password">Heslo</label>
                            </div>

                            <button class="btn btn-outline-light btn-lg btn-primary px-5" type="submit">Přihlásit</button>
                        </form>

                        <div class="d-flex justify-content-center text-center mt-4 pt-1">
                            <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                            <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                            <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                        </div>
                    </div>

                    <div>
                      <p class="mb-0">Ještě nemáte účet? <a href="{% url 'register' %}" class="text-white-50 fw-bold">Registrovat</a>
                      </p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            </div>
        </section>
    </div>

    <div class="col-md-4">

    </div>

{% else %}

    <div class="col-md-4">

    </div>

    <div class="col-md-12">
        <section class="vh-100">
            <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">

                        <form method="post" action="">
                            {% csrf_token %}

                            <h2 class="fw-bold mb-2 text-uppercase">Registrace</h2>
                            <p class="mb-5 text-warning">Prosím zadejte uživatelské jméno a heslo!</p>


                            <div class="form-outline form-white mb-4">
                                <input type="text" id="username" name="username" class="form-control form-control-lg" />
                                <label class="form-label" for="username">Uživatelské jméno</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="password1" name="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="min.8 znaků, velké písmeno, malé písmeno" title = "Heslo musí obsahovat min. 8 znaků, jedno velké a jedno malé písmeno!!!" class="form-control form-control-lg" />
                                <label class="form-label" for="password1">Heslo 1</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="password2" name="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="min.8 znaků, velké písmeno, malé písmeno" title = "Heslo musí obsahovat min. 8 znaků, jedno velké a jedno malé písmeno!!!" class="form-control form-control-lg" />
                                <label class="form-label" for="password2">Heslo 2 - musí být stejné jako Heslo 1</label>
                            </div>


                            <button class="btn btn-outline-light btn-primary btn-lg px-5" type="submit">Registrovat</button>
                        </form>

                        <div class="d-flex justify-content-center text-center mt-4 pt-1">
                            <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                            <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                            <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                        </div>
                    </div>

                    <div>
                      <p class="mb-0">Už jste se registroval/la? <a href="{% url 'login' %}" class="text-white-50 fw-bold">Přihlásit</a></a>
                      </p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            </div>
        </section>
    </div>

    <div class="col-md-4">

    </div>

{% endif %}
{% endblock %}